@charset "UTF-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
    font-family: 'Chathura', sans-serif;
    font-size: 1.05em;
    line-height: 1.5em;
}

body {

    width:800px;
    margin:36px auto;
  }
  h3{
    color: gray;
    font-weight: 400;
    font-size: 2em;
    text-decoration: none;
    text-align: center;

    padding-top: .2%;
    padding-bottom: .2%;
    padding-left: 10%;
    padding-right: 10%;

  }

/*Column Formatting*/
section{
  margin-top: 1%;
  margin-bottom: 1%;
  height: 15%;
}
div {
  width: 33%;
  float: left;
  text-indent: 40%;
}

/* List Tiles */
h2 {
  text-decoration:underline;
  text-decoration-color: gray;
  color: #B89BFF;
  font-weight: 800;
  font-size: 2em;
}

/*List formatting */
ol{
  list-style:upper-roman;
  color: gray;
}
ul{
  list-style:none;
}
li{
  list-style-position: inside;
  font-weight: 400;
}
li a{
  text-decoration: none;
  color: gray;
}

/* Footer */
svg{
  width: 10%;
  height: .75em;
  background-color: #B89BFF;
}
footer{
  margin-top: 5%;
  clear: both;
  text-align: center;
}
footer a{
  margin-top: 5%;
  padding: 5%;

  text-decoration: none;
  font-size: 2em;
  color: #B89BFF;
}
