*{
  margin: 0;
  padding: 0;

  font-family: 'Chathura', sans-serif;
  font-size: 1.1em;
  line-height: 1em;
}

body{
  margin-left: 7%;
  margin-right: 7%;
  font-weight: 400;
}

/* Header */
header {
  margin-top: 10%;

}
h1 {
  width: 60%;
  float: left;
  font-weight: 800;

  font-size: 3em;
  line-height: 1em;
}
nav{
  padding-right: 1%;
  width: 38%;
  float: left;

  text-align: right;
}
ol{
  list-style: none;
  
  width: 40%;
  margin: 5%;
  float: left;
}
li{
  margin-bottom: 10%;
}
svg{
  width: 100%;
  height: .75em;
  background-color: #1c1c1c;
}

/* Body */
section{
  margin-top: 2%;

}
section div{
  width: 45%;
  float: left;

  border: 4px solid gray;
  margin: 1.75%;
}
h2{
  padding: 5%;
  font-weight: 800;
}
p{
  padding: 5%;
}
